div.wpcf7-response-output {
    position: fixed;
    z-index: 1010;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
}
.message-fixed .close{
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    cursor: pointer;
}
.wpcf7-response-output .message-fixed{
    padding: 10px;
    width: 60%;
    margin: 10% auto;
    border: 1px solid transparent;
    border-radius: 4px;
}
.wpcf7-response-output.wpcf7-validation-errors .message-fixed{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.wpcf7-response-output.wpcf7-mail-sent-ok .message-fixed{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.wpcf7-display-none{display: none !important;}
